<!DOCTYPE html>

<html lang="fr">

	<head>

		<meta charset="utf-8"/>
		<link rel="stylesheet" href="../public/css/global.css" />
        <link rel="stylesheet" href="../public/css/write.css" />
        <title>ArvetoVox - Publish</title>
		<link rel="shortcut icon" href="../public/images/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    </head>

	<body>
		<header id='header'>
			<div id="banner">
				<a href="/" id="logoLink"><img src="../public/images/header.png" id="logo"></a>
				<h1 id="slogan">Une fenêtre sur le monde de demain...</h1>
			</div>

			<nav id='nav'>
				<ul id="categories">
						<% for(let i=0; i<categories.length; i++){ %>
                                <% if(i == current){ %>
                                    <a class="activeCategory" href="../category/<%= categories[i].id %>">
                                <% } else{%>
                                    <a class="category" href="../category/<%= categories[i].id %>">
                                <% } %>
                                     <li><%= categories[i].name %></li>
								 </a>
						<% } %>
				</ul>

				<div id="unsigned">
					<a class="authentification" href="/login">
						Se connecter
					</a>
					<a class="authentification" href="/signup">
						S'inscrire
					</a>
				</div>

				<div id="connected">
					<a id="username" class="authentification">
						Bienvenue, user
					</a>
					<a id="disconnect" class="authentification">
						Se déconnecter
					</a>
				</div>

			</nav>
		</header>

		<h2 id="headline">Publier dans "<%= categories[current].name %>"</h2>

		<div id="content">
            <form id="articleForm" method="post">
                <b>Titre:</b>
                <input type="text" name="title" id="title">
                 <br />

                 <b>Contenu:</b>
                <textarea id="article"></textarea>
                <script>
                    var simplemde = new SimpleMDE({ element: document.getElementById("article") });
                    simplemde.value("Ecrivez votre article ici =) ...")
                </script>
                <input type="text" name="text" id="text" class="hiddenElement" />

                <input type="text" name="authorPseudo" id="authorPseudo" class="hiddenElement" />
                <input type="text" name="authorPass" id="authorPass" class="hiddenElement" />
                <input type="text" name="category" id="category" value= "<%= categories[current].id %>" class="hiddenElement" />

                <button id="publish" >Publier!</button>

            </form>

		</div>

	</body>

	<script src="../public/js/write.js"></script>
</html>
